[Unit]
Description=Run Bot

[Service]
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/standupbot/discord-standup-streakbot
ExecStart=/home/standupbot/discord-standup-streakbot/bot.js
Restart=always
User=standupbot
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
